body {
    background-color: #FFFFFF;
    color: #333333;
    font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif;
}
 body {
    height: 100%;
    min-width: 980px;
    border:0px;
    margin:0px;
    padding:0px;
}
#wrapper {
    height: auto !important;
    margin: 0 0 -362px;
    min-height: 100%;
}
    .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#header {
    background: linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.1);
}
.headcontainer {
    width: 980px;
    height:60px;
    margin: 0 auto;
  
}

#logoimg
{
    height:62px;
}
.clearfix {
    display: block;
}
#login {
    width: 31em;
}
.login_form {
    margin: 5em auto;
}
.login_form h1 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(#829AA8, #405A6A) repeat scroll 0 0 transparent;
    border-color: #677C89 #677C89 #6B808D;
    border-image: none;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 8px 18px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
}
.login_form form label, .login_form form .label, label.standard {
    color: #2F424E;
    cursor: text;
    display: inline-block;
    font-size: 110%;
    text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.1);
}
.login_form form label a {
    font-size: 90%;
}
a {
    color: #4183C4;
    text-decoration: none;
}
.login_form .formbody {
    background-color: #E9F1F4;
    border-color: #E9F1F4 #D8DEE2 #D8DEE2;
    border-radius: 0 0 3px 3px;
    border-style: solid;
    border-width: 1px 1px 2px;
    overflow: hidden;
    padding: 2em;
}
element.style {
    width: 21em;
}
.login_form form input.text {
    font-size: 110%;
}
.login_form form input.text, .login_form form textarea {
    border: 1px solid #D8DEE2;
    margin: 0.2em 0 1em;
    padding: 5px;
}
.login_form form input[type="submit"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(#FFFFFF, #E1E1E1) repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color -moz-use-text-color #EBEBEB;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica,arial,freesans,clean,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 34px;
    margin-left: 1px;
    overflow: visible;
    padding: 0 13px;
    position: relative;
    text-shadow: 1px 1px 0 #FFFFFF;
    top: 1px;
    white-space: nowrap;
}
.login_form form label, .login_form form .label, label.standard {
    color: #2F424E;
    cursor: text;
    display: inline-block;
    font-size: 110%;
    text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.1);
}
.login_form form input[type="submit"]:hover {
    background: linear-gradient(#0CA6DD, #0770A0) repeat scroll 0 0 transparent;
    border-bottom-color: #0770A0;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#footer {
    background: linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.1);
}
.footcontainer {
    width: 980px;
    height:30px;
    margin: 0 auto;
}

